/* Font faces for Persian text */
@font-face {
  font-family: "modam";
  font-weight: 200;
  src: url(/fonts/ModamFaNumWeb-Light.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-Light.woff2) format("woff2");
}

@font-face {
  font-family: "modam";
  font-weight: 400;
  src: url(/fonts/ModamFaNumWeb-Medium.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "modam";
  font-weight: 800;
  src: url(/fonts/ModamFaNumWeb-Black.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-Black.woff2) format("woff2");
}

@font-face {
  font-family: "modam";
  font-weight: 600;
  src: url(/fonts/ModamFaNumWeb-SemiBold.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-SemiBold.woff2) format("woff2");
}

/* Font faces for English text */
@font-face {
  font-family: Gilroy;
  font-weight: 200;
  src: url(/fonts/Glory/Gilroy-Regular.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Regular.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 800;
  src: url(/fonts/Glory/Gilroy-Bold.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Bold.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 900;
  src: url(/fonts/Glory/Gilroy-Black.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Black.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 200;
  src: url(/fonts/Glory/Gilroy-Light.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Light.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 600;
  src: url(/fonts/Glory/Gilroy-Semibold.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Semibold.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 500;
  src: url(/fonts/Glory/Gilroy-Medium.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Medium.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 950;
  src: url(/fonts/Glory/Gilroy-Extrabold.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Extrabold.woff) format("woff");
}

/* Default styles for all elements */
* {
  direction: rtl;
  user-select: none !important;
  text-decoration-line: none !important;
  /* font-family: "modam"; */
}

/* Apply font families */
body {
  /* font-family: "modam", "Gilroy", sans-serif; */
  /* Default font for Persian text */
  /* font-family: "modam", "Gilroy", sans-serif; */
  background-color: #041121 !important;
}

/* Select English text */

/* body {
  background-color: #041121 !important;
} */
/* background-color: #f4f5f7 !important; */

.ql-picker-label,
.ql-formats,
.ql-toolbar,
.ql-snow,
.ql-picker-options,
.ql-picker-item,
.ql-header,
.ql-bold,
.ql-italic,
.ql-underline,
.ql-link,
.ql-list,
.ql-container,
.ql-snow,
.ql-editor > *,
.ql-blank,
.ql-clipboard,
.ql-tooltip,
.ql-hidden,
.ql-preview,
.ql-remove,
.ql-action,
ul,
li {
  direction: ltr !important;
}

/* react-quill-styles.css */

/* Align classes */
.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

/* Background classes */
.ql-bg-white {
  background-color: #fff;
}

.ql-bg-black {
  background-color: #000;
}

/* Color classes */
.ql-color-primary {
  color: #007bff;
}

.ql-color-success {
  color: #28a745;
}

.ql-color-danger {
  color: #dc3545;
}

.ql-color-warning {
  color: #ffc107;
}

.ql-color-info {
  color: #17a2b8;
}

/* Define scrollbar styles */
::-webkit-scrollbar {
  width: 5px; /* Width of the entire scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #0d2647; /* Color of the tracking area */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #031935; /* Color of the scroll thumb */
  border-radius: 6px; /* Roundness of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d2647; /* Color of the scroll thumb on hover */
}

/* .editorr > *{
  direction: ltr !important;
} */
.Toastify__toast {
  font-family: "modam" !important;
  font-size: 14px;
}
.Toastify__toast-theme--light {
  background: #031935 !important;
  color: #ffffff !important;
}
