/* Font faces for Persian text */
@font-face {
  font-family: "modam";
  font-weight: 200;
  src: url(/fonts/ModamFaNumWeb-Light.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-Light.woff2) format("woff2");
}

@font-face {
  font-family: "modam";
  font-weight: 400;
  src: url(/fonts/ModamFaNumWeb-Medium.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "modam";
  font-weight: 800;
  src: url(/fonts/ModamFaNumWeb-Black.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-Black.woff2) format("woff2");
}

@font-face {
  font-family: "modam";
  font-weight: 600;
  src: url(/fonts/ModamFaNumWeb-SemiBold.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-SemiBold.woff2) format("woff2");
}

/* Font faces for English text */
@font-face {
  font-family: Gilroy;
  font-weight: 200;
  src: url(/fonts/Glory/Gilroy-Regular.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Regular.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 800;
  src: url(/fonts/Glory/Gilroy-Bold.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Bold.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 900;
  src: url(/fonts/Glory/Gilroy-Black.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Black.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 200;
  src: url(/fonts/Glory/Gilroy-Light.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Light.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 600;
  src: url(/fonts/Glory/Gilroy-Semibold.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Semibold.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 500;
  src: url(/fonts/Glory/Gilroy-Medium.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Medium.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 950;
  src: url(/fonts/Glory/Gilroy-Extrabold.woff2) format("woff2"),
    url(/fonts/Glory/Gilroy-Extrabold.woff) format("woff");
}

/* Default styles for all elements */
* {
  direction: rtl;
  user-select: none !important;
  text-decoration-line: none !important;
  /* font-family: "modam"; */
}

/* Apply font families */
body {
  /* font-family: "modam", "Gilroy", sans-serif; */
  /* Default font for Persian text */
  /* font-family: "modam", "Gilroy", sans-serif; */
  background-color: #041121 !important;
}

/* Select English text */

/* body {
  background-color: #041121 !important;
} */
/* background-color: #f4f5f7 !important; */

.ql-picker-label,
.ql-formats,
.ql-toolbar,
.ql-snow,
.ql-picker-options,
.ql-picker-item,
.ql-header,
.ql-bold,
.ql-italic,
.ql-underline,
.ql-link,
.ql-list,
.ql-container,
.ql-snow,
.ql-editor>*,
.ql-blank,
.ql-clipboard,
.ql-tooltip,
.ql-hidden,
.ql-preview,
.ql-remove,
.ql-action,
ul,
li {
  direction: ltr !important;
}

/* react-quill-styles.css */

/* Align classes */
.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

/* Background classes */
.ql-bg-white {
  background-color: #fff;
}

.ql-bg-black {
  background-color: #000;
}

/* Color classes */
.ql-color-primary {
  color: #007bff;
}

.ql-color-success {
  color: #28a745;
}

.ql-color-danger {
  color: #dc3545;
}

.ql-color-warning {
  color: #ffc107;
}

.ql-color-info {
  color: #17a2b8;
}



/* width */
.table-scroll::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

/* Track */
.table-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Handle */
.table-scroll::-webkit-scrollbar-thumb {
  background-color: #021e3f;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Handle on hover */
.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #011227;
}

/* Define scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
  /* Width of the entire scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #031935;
  /* Color of the tracking area */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #031935;
  /* Color of the scroll thumb */
  border-radius: 6px;
  /* Roundness of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d2647;
  /* Color of the scroll thumb on hover */
}

/* .editorr > *{
  direction: ltr !important;
} */
.Toastify__toast {
  font-family: "modam" !important;
  font-size: 14px;
}

.Toastify__toast-theme--light {
  background: #031935 !important;
  color: #ffffff !important;
}




.title-section {
  color: #272727;
  font-size: 17.66px;
  font-weight: 600;
  font-family: "rokh" !important;
}

.section {
  padding: 30px 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #fff;
  margin-bottom: 17px;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 33px;
  padding-right: 33px;
}

@media (max-width: 560px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@keyframes head-blogs {
  0% {
    opacity: 0.8;
  }

  10% {
    opacity: 1;
  }
}

/* 
.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-end {
  display: flex;
  align-items: center;
  justify-content: end;
}

.center-start {
  display: flex;
  align-items: center;
  justify-content: start;
}

.center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.w-100 {
  width: 100%;
}

.fit-content {
  width: fit-content;
}

.MuiStepLabel-root.MuiStepLabel-horizontal.MuiStepLabel-alternativeLabel.muirtl-9tyx11-MuiStepLabel-root:first-child {
  display: none;
}

.sigCanvas {
  background-color: #111315;
  margin-top: "10px";
} */