@font-face {
  font-family: "modam";
  font-weight: 200;
  src: url(/fonts/ModamFaNumWeb-Light.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-Light.woff2) format("woff2");
}

@font-face {
  font-family: "modam";
  font-weight: 400;
  src: url(/fonts/ModamFaNumWeb-Medium.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "modam";
  font-weight: 800;
  src: url(/fonts/ModamFaNumWeb-Black.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-Black.woff2) format("woff2");
}

@font-face {
  font-family: "modam";
  font-weight: 600;
  src: url(/fonts/ModamFaNumWeb-SemiBold.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-SemiBold.woff2) format("woff2");
}

* {
  direction: rtl;
  user-select: none !important;
  font-family: "modam" !important;
  text-decoration-line: none !important;
}

body {
  background-color: #f4f5f7 !important;
}

.ql-picker-label,
.ql-formats,
.ql-toolbar,
.ql-snow,
.ql-picker-options,
.ql-picker-item,
.ql-header,
.ql-bold,
.ql-italic,
.ql-underline,
.ql-link,
.ql-list,
.ql-container,
.ql-snow,
.ql-editor>*,
.ql-blank,
.ql-clipboard,
.ql-tooltip,
.ql-hidden,
.ql-preview,
.ql-remove,
.ql-action,
ul,
li {
  direction: ltr !important;
}


/* react-quill-styles.css */

/* Align classes */
.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

/* Background classes */
.ql-bg-white {
  background-color: #fff;
}

.ql-bg-black {
  background-color: #000;
}

/* Color classes */
.ql-color-primary {
  color: #007bff;
}

.ql-color-success {
  color: #28a745;
}

.ql-color-danger {
  color: #dc3545;
}

.ql-color-warning {
  color: #ffc107;
}

.ql-color-info {
  color: #17a2b8;
}